@import url('https://fonts.googleapis.com/css2?family=Khand&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Khand', sans-serif;;
}

#titulo{
    color: #594A8A;
    margin-left: 7%;
}
#subtitulo{
    color: #594A8A;
    margin-left: 10%;
    margin-bottom: 4%;
}

body{
    font-size: 1em;
    background-color: #C1BDDA;
    margin-left: 36%;
    margin-top: 2%;
    justify-content: center;
}
fieldset{
    border: 0;
}

input,select, textarea, button{
    border-radius: 7px;
}

.campo{
    margin-bottom: 1em;
}

.campo label{
    margin-bottom: 0.2em;
    display: block;
}

fieldset .campo .grupo{
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
}

.grupo:before, .grupo:after {
    display: table;
}
.grupo:after {
    clear: both;
}

.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea{
    padding: 0.2em;
    border: 1px solid #594A8A;
    box-shadow: 2px 2px 2px #241E38;
}

.campo select option{
    padding-right: 1em;
}

.campo input:focus, .campo select:focus, .campo textarea:focus{
    background-color: #fff;
}

.botao{
    font-size: 1.2em;
    background: #59429d;
    border: 0;
    margin-bottom: 1em;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    position: absolute;
    top: 90%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.botao:hover{
    background-color: #594A8A;
    color: #ffffff;
    text-shadow: none;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}
.botao, select{
    cursor: pointer;
}
#check{
    display: inline-block;
}